.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.item._completed .text {
  text-decoration: line-through;
  color: #949494;
}

.checkbox {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  opacity: 0;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.icon::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-3%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E'); /* SVG для обычного состояния */
  background-size: cover;
}

.checkbox:checked + .icon::before {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-3%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E'); /* SVG для checked состояния */
  background-size: cover;
}

.text {
  max-width: 89%;
  word-break: break-all;
}

.delete {
  position: absolute;
  right: 20px;
  display: none;
  padding: 8px 10px;
  font-size: 18px;
  color: #949494;
  cursor: pointer;
}

.item:hover .delete {
  display: inline;
}

.delete:hover {
  color: #c18585;
}

.delete:active {
  box-shadow: 0 0 2px 2px #cf7d7d;
}

.input-text {
  position: absolute;
  z-index: 2;
  right: 1px;
  width: 99.5%;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  outline: invert;
}
.input-text:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #cf7d7d;
}

@media (max-width: 480px) {
  .item {
    padding: 5px 10px;
  }
  .input-text {
    padding: 16px 16px 16px 51px;
    font-size: 18px;
  }
}
