.App {
	max-width: 550px;
	min-width: 230px;
	height: 100%;
	margin: 0 auto;
}

.title {
	margin: 20px auto;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	color: #b83f45;
}

.todo {
	position: relative;
	max-width: 550px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 25px 50px 0 rgba(0, 0, 0, .1);
}